{{ define "graph" }}
<!doctype html>
<html>
    {{- template "header" . }}
   <body>
      <div id="page-container">
        <div id="content-wrap">
         {{- template "navbar" . }}
         <section class="hero container">
            <h2>Graph</h2>
         </section>
         <div id="graphContainer"></div>
        </div>
        {{- template "footer" . }}
      </div>
   </body>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/sigma.min.js" integrity="sha512-4+XX9O3GEcpTWGNW7m3w/ORF91L4zUX01/U3wAoWIXp1P+LRBEqutZdQIFUeHSa0cJRZ9LPM+GOWus8h8TlYhg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.parsers.json.min.js" integrity="sha512-uhhcXJvqfQpnVqJRyCs49Ddt16zZ35qFokRiVOZei14sbMdMS9vtubrb1QQvGJ/zQhQbCttBvVJqqiZHrsHo1g==" crossorigin="anonymous"></script>
   <script>
   sigma.parsers.json('data/graph.json', {
      renderer: {
         container: document.getElementById('graphContainer'),
         type: 'canvas'
      },
      container: 'graphContainer',
      settings: {
         defaultNodeColor: '#ec5148',
         touchEnabled: false,
         mouseEnabled: false,
         mouseWheelEnabled: false,
         doubleClickEnabled: false,
         minEdgeSize: 0.5,
         maxEdgeSize: 4,
         enableEdgeHovering: true,
         edgeHoverColor: 'edge',
         defaultEdgeHoverColor: '#000',
         edgeHoverSizeRatio: 1,
         edgeHoverExtremities: true,
      }
   });

   // Bind the events:
   sigma.bind('overNode outNode clickNode doubleClickNode rightClickNode', function(e) {
   console.log(e.type, e.data.node.label, e.data.captor);
   });
   sigma.bind('overEdge outEdge clickEdge doubleClickEdge rightClickEdge', function(e) {
   console.log(e.type, e.data.edge, e.data.captor);
   });
   sigma.bind('clickStage', function(e) {
   console.log(e.type, e.data.captor);
   });
   sigma.bind('doubleClickStage rightClickStage', function(e) {
   console.log(e.type, e.data.captor);
   });
   </script>
</html>
{{- end }}
