{{ define "navbar" }}

<navbar class="horizontal-align">
    <div class="nav-item"><a href="/{{.SitePrefix}}/">വീട്</a></div>
    <div class="nav-item"><a href="/{{.SitePrefix}}/all.html">കുറിപ്പുകൾ</a></div>
    <div class="nav-item"><a href="/{{.SitePrefix}}/graph.html">ഗ്രാഫ്‌</a></div>
</navbar>
{{- end }}
